<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netMsmqBinding>
                <binding name="NetMsmqBinding_IDispatcherOperations">
                    <security mode="None"/>
                </binding>
            </netMsmqBinding>
        </bindings>
        <client>
            <endpoint address="net.msmq://nyitdevws001/private/dispatcher" binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_IDispatcherOperations" contract="Dispatcher.IDispatcherOperations" name="NetMsmqBinding_IDispatcherOperations"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
